@import '../variables';

.left-side-background {
  display: flex;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media (min-width: 768px) and (max-width: 1119px) {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    z-index: 5000;
    display: none;
  }

  @media (min-width: 1120px) {
    grid-column: 1;
    grid-row: 1 / span 2;
  }
}

.left-side {
  display: flex;          
  position: fixed;        
  left: 0;
  top: 0;
  width: 100%;            
  height: 100% !important;        
  background-color: $bg-white;
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.15);
  z-index: 9999;          
  flex-direction: column;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media (min-width: 768px) and (max-width: 1119px) {
    width: 320px;
    position: static;
    min-width: 320px;
    height: 100vh;
    background-color: $bg-white;
    z-index: 9999;
    display: none;
  }

  @media (min-width: 1120px) {
    display: flex !important;
    position: sticky;       
    width: 320px;
    min-width: 320px;       
    height: 100vh;
  }
}

.top-img {
  padding-top: 18px;
  width: 320px;
  padding-left: 24px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.search-b {
  margin: 0 17px 0 0;
}

.group-b {
  margin-right: 80px;
}

.half-circle {
  background-color: $color-accent;
  border-radius: 0px 100px 100px 0;
  width: 4px;
  height: 32px;
}

.title {
  display: flex;
  gap: 24px;
  margin-top: 50px;
  align-items: center;

  &_text {
    font-family: $font-medium;
    color: $color-text-muted;
    font-size: 16px;
  }
}

.list-discription,
.list_disription {
  display: flex;
  gap: 35px;
  flex-direction: column;
}

.disc {
  font-family: $font-medium;
  color: $color-text-black;
  font-size: 16px;
  margin-top: 32px;
  margin-left: 24px;
}

.our-contact {
  margin-top: auto;
  padding-left: 24px;
  padding-bottom: 32px;
}

.mail {
  font-family: $font-medium;
  font-weight: 500;
  margin-bottom: 12px;
  margin-top: 10px;
}

.number {
  font-family: $font-bold;
  font-weight: 700;
}

.lang {
  margin-top: 40px;
  font-family: $font-medium;

  &-choose_button:checked + label {
    color: $color-text-muted;
  }
}