@import '../variables';

.main-footer {
  font-family: $font-medium;
  margin: 2.5% 0 0 1.5%;

  &__disc {
    margin-top: 5px;
    font-family: $font-medium;
    width: 40%;
  }

  &__get {
    display: flex;
    align-items: center;
    height: 24px;
    gap: 5px;
    margin-top: 1%;

    :first-child {
      color: black;
    }

    a:last-child {
      margin-top: 1.5px;
    }
  }

  &__footer {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 5%;
  }

  div:last-child {
    margin-right: 1.5%;
  }

  div a {
    color: black;
  }
}
