@import '../variables';

.cost {
  &__title {
    padding-left: 32px;
    font-weight: 100;
    font-family: $font-thin;
    background: linear-gradient(to right, $bg-main, white);
    height: 56px;
    display: flex;
    align-items: center;
    border-top: 1px solid $color-border-top;
  }

  &_notes {
    display: grid;
    grid-template-columns: 50vh 1fr 1fr 1fr;
    align-items: center;
    gap: 16px;
    padding: 0 24px;
    margin-left: 1.5%;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__list {
    width: 97%;
    background-color: $bg-white;
    margin-left: 1.5%;
    border-radius: 4px;

    @media screen and (max-width: 767px) {
      display: none;
    }

    p {
      width: 90%;
      color: $color-text-dark;    
    }

    img {
      margin-right: 2.8%;
    }

    &-object {
      display: grid;
      grid-template-columns: 50vh 1fr 1fr 1fr;
      align-items: center;
      gap: 16px;
      padding: 0 24px;
      grid-template-rows: 60px;

      img {
        width: 119px;
        height: 32px;
      }
    }

    &-underlline {
      width: 95%;
      margin-left: 2.5%;
    }
  }
}

.notes_1, .notes_2, .notes_3,
.un-notes1, .un-notes2, .un-notes3 {
  text-align: left;
}

.cost-swipe {
  display: flex;

  @media screen and (max-width: 767px) {
    animation: scrol3 15s linear infinite;
    width: 2428px;
    gap: 16px;
  }

  @media (min-width: 768px) {
    display: none;
  }

  &__object {
    width: 260px;
    height: 200px;
    display: grid;
    grid-template-rows: minmax(56px, auto) minmax(38px, auto) minmax(38px, auto) 1fr;
    background-color: $bg-white;
    border-radius: 4px;

    div {
      height: 100%;
      margin-left: 2.5%;
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &:first-child {
        height: 100%;
        margin: 5% 0 0 2.5%;
      }

      &:last-child {
        height: 100%;
        display: flex;
        align-items: flex-end;
        margin: 0;
        flex-direction: row;
        margin-left: 20px;
      }

      img {
        height: 32px;
        margin-bottom: 16px;
      }
    }

    &-disc {
      white-space: pre-line;
      display: flex;
      justify-content: left;
      align-items: center;
      line-height: 1;
      margin-bottom: 15px;
      font-family: $font-medium;
    }
  }

  &__title {
    margin-bottom: -15px;
  }
}

.width-228 { width: 228px; }
.width-81 { width: 100px; }

@keyframes scrol3 {
  0% { transform: translateX(-1375px); }
  100% { transform: translateX(0); }
}
