$bg-main: #F8F8F8;
$bg-white: #FFFFFF;

$color-accent: #41F6D7;
$color-accent-light: #B8FFEC;
$color-border: #EAEAEA;
$color-border-top: #D9FFF5;

$color-text-dark: #1B1C21;
$color-text-muted: #7E7E82;
$color-text-black: #000000;


$font-bold: 'TT Lakes-Bold', sans-serif;
$font-medium: 'TT Lakes-Medium', sans-serif;
$font-thin: 'TT Lakes-Thin', sans-serif;
$font-default: 'TT Lakes', sans-serif;